html {
	background: url(../Images/DesktopBackground4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: PT Sans;}

#navigation-box{
	background: rgba(0,0,0,0.4);}

#navigation-box ul {
	list-style-type: none;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	height: 40px;
	padding-top: 10px;}

#navigation-box li {
	display: inline;
	padding: 30px;}

#navigation-box a {
	text-align: center;
	padding: 8px;}

#navigation-box a:link {
	color: #c0d6e4;
	text-decoration: none;}

#navigation-box a:visited {
	color: #c0d6e4;}

#navigation-box a:hover {
	color: #505050;}

#contact-form {
	color: #c0d6e4;
	width: 50%;
	text-align: center;
	margin: 0 auto;
	}

/* Style inputs with type="text", select elements and textareas */
input, select, textarea {
    width: 50%; /* Full width */
    padding: 10px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Contact form box styling */
#contact-form {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
}