html {
	background: url(../Images/DesktopBackground9.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: PT Sans;}

#navigation-box{
	background: rgba(0,0,0,0.4);
	border-radius: 10px;}

#navigation-box ul {
	list-style-type: none;
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	height: 40px;
	padding-top: 10px;}

#navigation-box li {
	display: inline;
	padding: 30px;}

#navigation-box a {
	text-align: center;
	padding: 8px;}

#navigation-box a:link {
	color: #c0d6e4;
	text-decoration: none;}

#navigation-box a:visited {
	color: #c0d6e4;}

#navigation-box a:hover {
	color: #505050;}

#main-box {
	width: 400px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: #f0f8ff;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	border-radius: 10px;}

.main-photo {
	border-radius: 50%;
	height: 200px;}

.social-media-icon {
	width: 40px;
	color: white;
	background-color: white;}