:root {
  --cloud-white: #F8F8F8;
  --teal: #64ffda;
  --light-black: #212529;
  --navy-blue: #284b63;
  --grey: #343a40;
  --light-grey: #6c757d;
  --white: #ffffff;
  --light-purple: #3B4371;
  --neon-green: #ADFF9E;
  --salmon: #ff9999;
  --sea-blue: #2b5876;
}

body {
  background-color: var(--white);
  font-family: Sans-serif;
}

h2 {
  color: var(--grey);
  margin-left: 30px;
  margin-bottom: 1em;
  font-weight: bold;
}

h3 {
  color: var(--grey);
  margin-left: 30px;
  
}

h4 {
  color: var(--navy-blue);
  margin-left: 30px;
}

/** Section Headers */
h5 {
  color: var(--grey);
  margin-left: 30px;
}

h6 {
  color: var(--grey);
  margin-left: 30px;
}

p {
  color: var(--light-black);
  margin-left: 30px;
  margin-right: 30px;
}

ul {
  color: #151515;
  margin-left: 30px;
}

/********************************** Navigation Section *********************************/
.navbar-brand {
  margin-left: 0em;
}

.navbar-toggler {
  margin-right: 1em;
}

.navbar-brand {
  list-style: none;
  color: var(--cloud-white);
}

.navbar-brand:hover {
  color: var(--sea-blue) !important;
}

.nav-link {
  color: var(--light-black) !important;
}

.nav-link:hover {
  color: var(--sea-blue) !important;
}

.nav-item {
  list-style: none;
}
.navbar-brand {
  margin-left: 20px;
  color: var(--light-black);
}

.navbar-brand:hover {
  color: var(--sea-blue);
}

.navbar {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-style: solid;
  border-width: 2px;
  color: var(--light-black);
  border-image: linear-gradient(to right, #E5E5BE, #26a0da, #4e4376) 1;
}

/********************************** Greeting Section *********************************/
#greeting {
  padding-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#greeting h3 {
  color: var(--grey);
}

.profile-photo {
  width: 40%;
  float: left;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 10em;
  border: 2px solid transparent;
  border-color: var(--navy-blue);
}
/********************************** Introduction Section *********************************/
#intro {
  position: absolute;
  top: 50%;
  left: 50%;
}

/********************************** Home Section *********************************/
#home {
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}

.technology-icon {
  width: 50px;
  margin-right: 20px;
  margin-top: 5px;
}

/********************************** Experience Section *********************************/
#experience {
  padding-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.experience-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.experience-title h3 {
  text-align: center;
}

.experience-images {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#experience h3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.experience-summary {
  margin-left: auto;
  margin-right: auto;
}

.experience-summary p {
  margin-top: 5%;
  margin-bottom: 20%;
}

.work-logos {
  width: 200px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/********************************** Education Section *********************************/
#education {
  padding-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10%;
}

.education-title h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.employer {
  color: #002b54;
  font-style: italic;
}

#education h5 {
  margin-left: auto;
}

#education h6 {
  margin-left: auto;
}

.education-item {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.education-image {
  width: 100px;
  margin-bottom: 15px;
}

.au-logo {
  margin-bottom: 24px;
}

/********************************** Projects Section *********************************/

#projects {
  margin-bottom: 5%;
}

.projects-header {
  margin-left: 0px;
  padding-top: 5rem;
  text-align: center;
}

#card-deck {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  height: 25rem;
}

.card-header {
  color: var(--grey);
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.card-body a {
  color: var(--grey);
  margin-bottom: 5px;
}

/********************************** Contact Section *********************************/
#contact {
  text-align: center;
  margin: 10% auto 20% auto;
}

.getintouch {
  margin-left: auto;
  margin-right: auto;
}

/* .contact-btn {
  background: #002b54;
  background-image: -webkit-linear-gradient(top, #002b54, #002b54);
  background-image: -moz-linear-gradient(top, #002b54, #002b54);
  background-image: -ms-linear-gradient(top, #002b54, #002b54);
  background-image: -o-linear-gradient(top, #002b54, #002b54);
  background-image: linear-gradient(to bottom, #002b54, #002b54);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: Arial;
  color: var(--cloud-white);
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 10px;
} */

.btn-outline {
  background: var(--cloud-white);
  color: var(--light-black);
  border: 1px solid var(--light-black);
}

.btn-outline:hover {
  background: var(--light-black);
  color: var(--cloud-white);
}

.contact-btn:hover {
  background: #888888;
  background-image: -webkit-linear-gradient(top, #888888, #888888);
  background-image: -moz-linear-gradient(top, #888888, #888888);
  background-image: -ms-linear-gradient(top, #888888, #888888);
  background-image: -o-linear-gradient(top, #888888, #888888);
  background-image: linear-gradient(to bottom, #888888, #888888);
  text-decoration: none;
  color: #F8F8F8;
}

.contact-icon {
  width: 40px;
}

#github-icon {
  border-radius: 5px;
}

.icon:hover {
  color: var(--light-grey);
}

/********************************** Copyright Section *********************************/

#copyright {
  text-align: center;
  background-color: white;
  padding: 8px 0 0 0;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  /* border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(to right, #E5E5BE, #26a0da, #4e4376) 1; */
}

#copyright p {
  color: var(--light-black);
  font-size: 12px;
}

#copyright a {
  color: var(--light-black);
  text-decoration: none;
}

/********************************** Responsiveness Section *********************************/

@media screen and (max-width: 920px) {
  #contact {
    margin-bottom: 30%;
  }
}

@media screen and (max-width: 768px) {
  #contact {
    margin-bottom: 40%;
  }
}

@media screen and (max-width: 375px) {
  #contact {
    margin-bottom: 70%;
  }
}