h2.welcome {color: #505050;
			text-align: center;}

img.happyface {height: 30px;
			padding-left: 10px;}

#navigationbar ul {list-style-type: none;
					background-color: #b0e0e6;
					padding: 10px;
					text-align: center;
					font-size: 20px;}

#navigationbar li {display: inline;
					padding: 15px;
					vertical-align: middle;}

#navigationbar a {vertical-align: middle;}

#navigationbar a:link {color: #ff4040;
						text-decoration: none;}
#navigationbar a:visited {color: #ff4040;}
#navigationbar a:hover {color: #31698a;}

#email {text-align:center;
		color: #ff4040;}

body {font-family: PT Sans;
		background-color: #f0f8ff;}


#purpose {font-size:15px;
			text-align: center;}

#introphotos {text-align: center;}

img.sathertower {height: 350px;
				border-style:solid;
				border-color:#b0e0e6;}
img.imageofjustin2 {height:350px;
				border-style:solid;
				border-color:#b0e0e6;}
img.imageofjustin {height:350px;
				border-style:solid;
				border-color:#b0e0e6;}

img.facebookicon {height: 60px;}
img.instagramicon {height:60px;}
img.linkedinicon {height:60px;}